body{
    background-image: url(../img/jumbotron_img/ahiddenlife.png);
    width: 100%;
    height: 100%;
}

#genre{
    background-color: antiquewhite;
    text-align: center;

}

#Description{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-style: normal;
    font-size: 12px;
}

#nama_brand{
        font-style: oblique;
        font-weight: bolder;
        font-size: 18px;
}

.jumbotron{
    background-image: url(../img/jumbotron_img/thehousethatjackbuilt.png);
    height: auto;
    width: auto;
    background-position-x: 50%;
    background-position-y: 20%;
    padding-right: 14.3cm;

}

#jumbotron{
    text-align: center;
    font-style: oblique;
    font-weight: bolder;
    color: cornflowerblue;
}

#judul_jumbotron{
    text-align: center;
    font-style: oblique;
    font-weight: bolder;
    color: red;

}

#secondNav{
    margin-bottom: 40px;
}

h6{
    font-style: oblique;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}